<div class="navigation-top"></div>
<div class="navigation-wrapper">
  <nav role="navigation" id="site-nav"> <!--</nav> class="animated drop">-->
    <ul class="animated fadeIn{% if pagetoc %} with-toc{% endif %}">
    <!-- compute the TOC in the current category -->
    {% if pagetoc %}
      {% assign categories_posts = site.categories[pagetoc] %}
    {% else %}
      {% assign categories_posts = site.categories[page.categories.first] %}
    {% endif %}
    {% for post in categories_posts %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}
    {% for post in categories_posts %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post.url %}
        {% assign next_post_title = post.title %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post.url %}
        {% assign prev_post_title = post.title %}
      {% endif %}
    {% endfor %}

    <!-- navigation items -->
    {% assign pageurl = page.url | replace_first: '/', '' %}
    {% if pageurl contains '/' %}
      <li class="nav-left"><a href="../../../.." title="Home"><i class="fa fa-home"></i></a>
      <li class="nav-left"><a href="{% if page.categories[1] %}../..{% else %}..{% endif %}" title="Up one level"><i class="fa fa-arrow-up"></i></a>
    {% endif %}
    {% if pagetoc %}
      <li class="nav-left menu"><a href="" title="Menu for current level"><i class="fa fa-bars"></i></a>
      <!-- Category-specific TOC-->
      {% assign section = "none" %}
        <ul class="toc">
      {% for post in site.categories[pagetoc] reversed %}
        {% if post.section != "" %}
          {% if post.section != section %}
            <span>{{ post.section }}</span>
            {% assign section = post.section %}
          {% endif %}
        {% endif %}
          <li><a href="{{ site.url }}{{ post.url }}"{% if post.url == page.url %} class="current"{% endif %}>{{ post.title }}</a></li>
      {% endfor %}
        </ul>
    {% endif %}
      </li>

      <li><a class="disabled spacer">&nbsp;</a></li>

    {% for link in site.data.navigation %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
      {% else %}
        {% assign domain = site.url %}
      {% endif %}
      <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}{% if page.url contains link.url %} class="current"{% endif %}>{{ link.title }}</a>
      <!-- Are there subcategories?-->
      {% if link.category %}
        <ul>
          {% for post in site.categories[link.category] %}
            {% assign year = post.date | date: "%Y" | plus: 0 %}
            {% if year == 0 %}
              <li><a href="{{ site.url }}{{ post.url }}"{% if page.url contains post.categories[1] %} class="current"{% endif %}>{{ post.title }}</a></li>
            {% endif %}
           {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}

      <!-- search items -->
      <li class="nav-right"><a href="{{ domain }}/search/" title="Search"><i class="fa fa-search"></i></a></li>
      <!--<li class="nav-right"><a href="{{ domain }}/tags/" title="Tags"><i class="fa fa-tags"></i></a></li>-->
      {% if next_post %}
        <li class="nav-right"><a href="{{ site.url }}{{ next_post }}#title" title="Next title: {{ next_post_title }}"><i class="fa fa-chevron-right"></i></a></li>
      {% else %}
        <li class="nav-right"><a href="" class="disabled"><i class="fa fa-chevron-right"></i></a></li>
      {% endif %}
      {% if prev_post %}
        <li class="nav-right"><a href="{{ site.url }}{{ prev_post }}#title" title="Previous title: {{ prev_post_title }}"><i class="fa fa-chevron-left"></i></a></li>
      {% else %}
        <li class="nav-right"><a href="" class="disabled"><i class="fa fa-chevron-left"></i></a></li>
      {% endif %}
    </ul>
  </nav>
</div><!-- /.navigation-wrapper -->

<div class="navigation-bottom"></div>

{% include browser-upgrade.html %}

{% if page.image.feature %}<header class="masthead{% if pagetoc %} entry-with-toc{% endif %}">
  {% if site.logo != null %}
    <div class="wrap">
      <a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
    </div>
  {% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead{% if pagetoc %} entry-with-toc{% endif %}">
  <div class="wrap">
    {% if site.logo != null %}
      <a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }}" class="animated fadeInDown"></a>
    {% else %}
      <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/"><img src="{{ site.url }}/images/site-title.png" width="346" height="124" alt="{{ site.title }} logo"></a></h1>
      <h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
    {% endif %}
  </div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
