/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 0px;
  @include clearfix;
  @include media($medium) {
    margin-top: -40px;
  }
  .wrap {
    text-align: center;
    max-width: em(440);
    padding-right: 20px;
    padding-left: 20px;
    @include media($medium) {
      max-width: em(728);
      padding-right: 60px;
      padding-left: 60px;
    }
    @include media($large) {
      max-width: em(960);
    }
  }
}

/*
   Site logo
   ========================================================================== */

.site-logo {
  img {
    height: 80px;
    @include animation-duration(0.5s);
      @include animation-delay(.05s);
    @include media($medium) {
      height: 120px;
    }
    @include media($large) {
      height: 150px;
    }
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;
  @include animation-duration(.5s);
    @include animation-delay(.5s);
  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 0;
  font-family: $alt-font;
  @include font-size(14);
  font-weight: 400;
  font-style: italic;
  color: $meta-color;
  @include animation-duration(1s);
    @include animation-delay(1s);
  @include media($medium) {
    @include font-size(18);
  }
}
