/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-top {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0; /*5px;*/
  background-color: $menu-bg-color;
}

.navigation-bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: $body-color;
  @include media($medium) {
    height: 85px;
  }
}

.navigation-wrapper {
  text-align: center;
  @include clearfix;
  ul {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0 0 50px;
    padding: 4px 20px;
    background-color: $menu-bg-color;
    color: $menu-color;
    @include media($medium) {
      position: fixed;
      width: 94%;
      left: 3%;
      @include rounded(0 0 10px 10px);
      background-color: $menu-bg-color;
      color: $menu-color;
      -o-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -khtml-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    @include clearfix;
    &.with-toc {
      @include media($large) {
        position: fixed;
        width: 97%;
        left: 0;
        @include rounded(0 0 10px 0);
      }
    }
    /*&:hover {
      background-color: darken($menu-bg-color, 10);
      color: $menu-color;
    }*/
  }
  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(13,no);
    text-transform: uppercase;
    color: inherit;
    @include media($medium) {
      @include font-size(14,no);
    }
    a:hover {
      @include box-shadow($shadow: inset 0 0 1px $menu-color);
    }
    &.nav-left {
      float: left;
    }
    &.nav-right {
      float: right;
    }
    &.menu{
      display: none;
      @include media($medium) {
        display: block;
      }
      @include media($large) {
        width: 0;
        a {
          color: $menu-bg-color;
        }
      }
    }
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 12px 20px;
    color: $menu-color;
    @include media($medium) {
      /* margin-bottom: 0; */
      margin: 2px;
      padding: 3px 8px;
      color: inherit;
    }
    @include rounded(3px);
    &:hover {
      background-color: $menu-color;
      color: $menu-bg-color;
    }
    &.current{
      background-color: $menu-color;
      color: $menu-bg-color;
    }
  }
  a.disabled {
    display: none;
    @include media($medium) {
      display: block;
      color: lighten($menu-bg-color, 10);
      pointer-events: none;
    }
    @include media($large) {
      &.spacer {
        min-width: 125px;
      }
    }
  }
  a.disabled:hover {
    background-color: $menu-bg-color;
    color: lighten($menu-bg-color, 10);
    @include box-shadow($shadow: inset 0 0 1px $menu-bg-color); 
  }  
  ul ul {
    display: none;
    position:absolute;
    overflow-y: auto;
    max-height: 400px; /* Fall back ie8/9, Opera mini & Android 4.3/4/4 */
    max-height: calc(100vh - 40px);
    top: auto;
    left: auto;
    width: auto;
    background-color: $menu-bg-color;
    padding: 0;
    @include media($medium) {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      @include rounded(0 0 4px 4px);
      box-shadow: 2px 2px 5px grey;
    }
  }
  ul ul.toc {
    @include media($large) {
      @include rounded(0);
      box-shadow: none;
      display: block;
      float: left;
      position: fixed;
      overflow-y: auto;
      background-color: $box-color;
      border: $box-border;
      color: $menu-bg-color; /*lighten($menu-bg-color, 10);*/
      left: 0;
      top: 0;
      width: $left-pane;
      height: 100%;
      margin-top: 38px;
      padding-top: 15px;
      z-index: -1;
    }
    &:after {
      margin-bottom: 30px;
    }
    &:hover {
      /*background-color: darken($menu-bg-color, 10);*/
      background-color: $menu-bg-color;
      color: $menu-color;
      @include media($large) {
        background-color: darken($menu-color, 10);
        color: $menu-bg-color; /*lighten($menu-bg-color, 10);*/
      }
    }
  }
  ul ul.toc a:hover {
    background-color: $menu-color;
    color: $menu-bg-color;
  }
  ul ul li {
    float: none;
    @include font-size(12,no);
    text-align: left;
    text-transform: none;
  }
  ul ul a {
    line-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    &.current{
      color: $menu-bg-color;
      background-color: $menu-color;
    }
  }
  ul ul span {
    color: lighten($menu-bg-color, 40); /*50*/
  }
  ul li:hover > ul {
    @include media($medium) {
      display: block;
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;
  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    display: block;
    max-height: 100%;
    li {
      float: none;
      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */

.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $menu-bg-color;
  height: 44px;
  @include rounded(0);
  @include media($medium) {
    display: none;
  }
}
