<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% assign pageyear = page.date | date: "%Y" | plus: 0 %}
{% if pageyear < 2000 %}
  {% if page.categories[1] %}
    {% assign pagetoc = page.categories[1] %}
  {% else %}
    {% assign pagetoc = page.categories.first %}
  {% endif %}
{% endif %}
{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry{% if pagetoc %} entry-with-toc{% endif %}">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Image credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <ul class="entry-tags">
          <a href="{{ site.url }}/tags/" title="All tags"><i class="fa fa-tags"></i> {% if page.tags %}Tags{% else %}Tags (none for this page){% endif %}</a>
          {% for tag in page.tags %}<li><a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>{% endfor %}
        </ul>
        {% if page.link %}
          <h1 class="entry-title" id="title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title" id="title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        {% endif %}
      </header>
      <footer class="{% if pagetoc %}entry-meta{% else %}entry-meta-without-toc{% endif %}">
        {% if page.author %}
          {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
        {% endif %}
        {% if author.avatar contains 'http' %}
          <img src="{{ author.avatar }}" class="{% if pagetoc %}bio-photo{% else %}bio-photo without-toc{% endif %}" alt="{{ author.name }} bio photo"></a>
        {% elsif author.avatar %}
          <img src="{{ site.url }}/images/{{ author.avatar }}" class="{% if pagetoc %}bio-photo{% else %}bio-photo without-toc{% endif %}" alt="{{ author.name }} bio photo"></a>
        {% endif %}
        <span class="author vcard">By <span class="fn">{{ author.name }}</span></span>
        
        {% if pageyear >= 2000 %} <!-- dates before 2000 are not dates but articles ordering -->
        <span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
        {% endif %}
        
        {% if page.modified %}<span class="entry-date date modified"><time datetime="{{ page.modified }}"><i class="fa fa-edit"></i> {{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
        {% if (site.owner.disqus-shortname and page.comments) or site.comments %}<span class="entry-comments"><i class="fa fa-comment-o"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
        {% if page.share %}{% include social-share.html %}{% endif %}
      </footer>
      <div class="{% if pagetoc %}entry-content{% else %}entry-content without-toc{% endif %}">
        {{ content }}
        {% if (site.owner.disqus-shortname and page.comments) or site.comments %}
          <div id="disqus_thread"></div><!-- /#disqus_thread -->
          {% include disqus-comments.html %}
        {% endif %}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination" role="navigation">
      {% if pageyear < 2000 %}
        <!-- This is an article or book/chapter component-->
        {% if prev_post %}
          <a href="{{ site.url }}{{ prev_post }}" class="btn left-btn" title="{{ prev_post_title }}"><i class="fa fa-arrow-left"></i>&nbsp; PREVIOUS</a>
        {% endif %}
        {% if next_post %}
          <a href="{{ site.url }}{{ next_post }}" class="btn right-btn" title="{{ next_post_title }}">NEXT &nbsp;<i class="fa fa-arrow-right"></i></a>
        {% endif %}
      {% else %}
        <!-- Navigation previous/next in blog-like pages is done in reversed order: newer item first -->
        {% if next_post %}
          <a href="{{ site.url }}{{ next_post }}" class="btn left-btn" title="{{ next_post_title }}"><i class="fa fa-arrow-left"></i>&nbsp; PREVIOUS</a>
        {% endif %}
        {% if prev_post %}
          <a href="{{ site.url }}{{ prev_post }}" class="btn right-btn" title="{{ prev_post_title }}">NEXT &nbsp;<i class="fa fa-arrow-right"></i></a>
        {% endif %}
      {% endif %}
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper{% if pagetoc %} entry-with-toc{% endif %}">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
